*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
}

img,
video,
canvas,
svg {
    display: block;
    inline-size: 100%;
    block-size: auto;
}

picture {
    display: inline-block;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
