.page-css {
    &__section-links {
        grid-column: mid-start / mid-end;
    }

    // basics
    &__section-css-basics {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-css-types {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-css-selectors {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-css-selectors-priority {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-css-box-model {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-css-box-types {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-css-elements-flow {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-css-cascade {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-css-inheritance {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-css-sizing-units {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-css-pseudo-classes {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-css-pseudo-elements {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    // colors

    &__section-about-colors {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-define-colors {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-greys-colors {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    // layout

    &__section-about-layouts {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-float {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-flexbox {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-css-grid {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }
}
