%section {
    overflow: hidden;
    border-radius: var(--br-radius-3);
    // border-block-end: 2px solid var(--grey-medium);
    // border-inline-start: 2px solid var(--grey-medium);
    // border-inline-end: 2px solid var(--grey-medium);
    box-shadow: inset 0 0 0.2rem var(--accent-dark);
}

.section-html {
    @extend %section;

    grid-area: html;
}

.section-css {
    @extend %section;

    grid-area: css;
}

.section-tools {
    @extend %section;

    grid-area: tools;
}

.section-sass {
    @extend %section;

    grid-area: sass;
}

.section-git {
    @extend %section;

    grid-area: git;
}

.section-js {
    @extend %section;

    grid-area: js;
}

.section-react {
    @extend %section;

    grid-area: react;
}

.section {
    @extend %section;
}
