.main {
    padding-block: 12.8rem;
    background-color: cl(purple-light-xxx);
}

%section {
    padding: 2.4rem;
    box-shadow: 0 0 0.1rem cl(purple-dark-xxx);
}

.section-html {
    @extend %section;

    grid-area: html;
}

.section-css {
    @extend %section;

    grid-area: css;
}

.section-tools {
    @extend %section;

    grid-area: tools;
}

.section-sass {
    @extend %section;

    grid-area: sass;
}

.section-git {
    @extend %section;

    grid-area: git;
}

.section-js {
    @extend %section;

    grid-area: js;
}

.section-react {
    @extend %section;

    grid-area: react;
}
