.page-html {
    &__section-links {
        grid-column: mid-start / mid-end;
    }

    // accessibility
    &__section-aom {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-semantic {
        @extend %section;

        grid-row: 4;
        grid-column: col-start 1 / col-end 3;
    }

    &__section-role {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    // image
    &__section-image-guide {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-image-tech {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-image-perf {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-image-usage {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-image-some-useful-things {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    // form
    &__section-form-method {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-form-input-types {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-form-re-entering-data {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-form-right-data {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-form-valid-rules {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-form-styling {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-form-validate-js {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-form-design {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    // icons

    &__section-icons-good {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-icons-types {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-icons-when-use {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-icons-use-well {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-icons-svg-sprite {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }
}
