.page-js {
    &__section-links {
        grid-column: mid-start / mid-end;
    }

    // about javascript
    &__section-js-about {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-js-engine {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-js-runtime {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-js-ec-callstack {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    // arrays
    &__section-arr-basics-and-mutates {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-arr-methods-add {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-arr-methods-find-index {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-arr-methods-find-value {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    &__section-arr-methods-traverse {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    &__section-arr-methods-other {
        @extend %section;

        grid-column: col-start 4 / col-end 6;
    }

    // objects
    &__section-obj-basics {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    // functions
    &__section-func-basics {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }

    // loops
    &__section-loop-basics {
        @extend %section;

        grid-column: col-start 1 / col-end 3;
    }
}
