.container-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    overflow: clip;

    @include res-tab-land {
        gap: 3.2rem;
    }
}

.container-home {
    display: grid;
    grid-template-areas:
        '. html  tools  .'
        '. css tools  .'
        '. sass  git  .'
        '. js  react  . ';
    grid-template-columns: minmax(3.2rem, 1fr) repeat(2, minmax(auto, 69.6rem)) minmax(3.2rem, 1fr);
    gap: 6.4rem 4.8rem;

    & .container-section {
        padding: 2.4rem;
    }

    @include res-tab-land {
        grid-template-areas:
            '. html  tools  .'
            '. css tools  .'
            '. sass  git  .'
            '. js  react  . ';
        grid-template-columns: minmax(1.6rem, 1fr) repeat(2, minmax(auto, 69.6rem)) minmax(
                1.6rem,
                1fr
            );
        gap: 3.2rem 2.4rem;
    }

    @include res-tab-port {
        grid-template-areas:
            '. html .'
            '. css .'
            '. tools .'
            '. sass .'
            '. git .'
            '. js .'
            '. react .';
        grid-template-columns: 1.6rem 1fr 1.6rem;
        gap: 3.2rem 2.4rem;
    }

    @include res-small-phone {
        grid-template-columns: 0.8rem 1fr 0.8rem;
        gap: 3.2rem 1.2rem;
    }
}

.content-box {
    display: grid;
    grid-template-columns: [full-start] 2.4rem [center-start] 1fr [center-end] 2.4rem [full-end];

    &:first-child {
        padding-block-start: 2.4rem;
    }

    &:last-child {
        padding-block-end: 2.4rem;
    }

    & .text,
    & .list,
    & .heading-h3,
    & .heading-h4,
    & picture,
    & table {
        grid-column: center-start / center-end;
    }

    & .code {
        grid-column: full-start / full-end;
    }
}

.resources-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;

    &__item {
        &:link,
        &:visited {
            padding-block: 0.8rem;
            padding-inline: 1.6rem;
            font-weight: 500;
            color: inherit;
            color: var(--accent-dark-black);
            text-decoration: none;
            border-radius: var(--br-radius-3);
            box-shadow: 0 0 0.2rem var(--accent-dark);
            transition: var(--tr-medium);
        }

        &:hover {
            box-shadow: 0 0 0.4rem var(--accent-dark);
            transform: translateY(-4px);
        }

        &:active {
            box-shadow: 0 0 0.3rem var(--accent-dark);
            transform: translateY(-2px);
        }
    }
}

.main {
    padding-block: 12.8rem;

    @include res-tab-land {
        padding-block: 6.4rem;
    }

    @include res-phone {
        padding-block: 3.2rem;
    }
}

.container-page {
    display: grid;
    grid-template-columns:
        [full-start] minmax(3.2rem, 1fr) [mid-start] minmax(auto, 144rem)
        [mid-end] minmax(3.2rem, 1fr)
        [full-end];
    grid-auto-flow: dense;
    gap: 6.4rem 4.8rem;

    @include res-tab-land {
        gap: 3.2rem 2.4rem;
    }

    @include res-tab-port {
        grid-template-columns:
            [full-start] 1.6rem [mid-start] 1fr
            [mid-end] 1.6rem
            [full-end];
    }

    @include res-phone {
        grid-template-columns:
            [full-start] 0.8rem [mid-start] 1fr
            [mid-end] 0.8rem
            [full-end];
        gap: 0.8em 0.6rem;
    }
}

.container-page-links {
    grid-column: mid-start / mid-end;

    & .container-section {
        padding: 2.4rem;
    }
}

.container-page-sections {
    display: grid;
    grid-template-columns:
        [mid-start] repeat(2, [col-start] minmax(auto, 69.6rem) [col-end])
        [mid-end];
    grid-column: mid-start / mid-end;
    gap: 6.4rem 4.8rem;

    @include res-tab-port {
        grid-template-columns:
            [mid-start] 1fr
            [mid-end];
        gap: 3.2rem 0;
    }
}

.line {
    grid-column: full-start / full-end;
    border-block-end: 1px solid cl(purple-light-xx);
}
