.header {
    position: relative;
    block-size: 90vh;
    background-image: linear-gradient(
            to right bottom,
            bcg(purple-primary-50),
            bcg(purple-primary-50)
        ),
        image-set(
            url('../../assets/img/pilinger-point.avif') type('image/avif'),
            url('../../assets/img/pilinger-point.webp') type('image/webp'),
            url('../../assets/img/pilinger-point.jpg')
        );
    background-position: center;
    background-size: cover;

    &__home-link {
        &:link,
        &:visited {
            display: inline-block;
            padding-block: 1.6rem;
            padding-inline: 3.2rem;
            font-weight: 600;
            color: cl(purple-light-xxx);
            text-align: center;
            text-decoration: none;
            border: 1px solid cl(purple-light-x);
            border-radius: br(link);
            box-shadow: sh(link-home);
            transition: tr(small);
        }

        &:hover,
        &:active {
            color: cl(purple-dark-xxx);
            background-color: cl(purple-light-x);
        }
    }

    &__description {
        font-size: 1.8rem;
        line-height: 1.8;
        color: cl(purple-light-xxx);
    }
}

.header-container {
    display: grid;
    gap: 6.4rem;
    block-size: 100%;
    padding: 2.4rem;
    background-image: linear-gradient(
        to right bottom,
        bcg(purple-primary-30),
        bcg(purple-primary-30)
    );
    // border: 2px solid cl(purple-light-xxx);
    box-shadow: 0 0 1rem cl(purple-dark-xxx);
}

.header-container-inner {
    display: grid;
    grid-template-rows: min-content 1fr;

    p {
        place-self: center center;
        inline-size: 40%;
        margin-block-start: 6.4rem;
        text-align: center;
    }
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author-link {
    &:link,
    &:visited {
        color: cl(purple-light-xx);
        text-decoration: none;
        border-block-end: 1px solid transparent;
        transition: tr(small);
    }

    &:hover,
    &:active {
        border-block-end: 1px solid currentcolor;
    }
}

.main-nav {
    &__container {
        justify-self: center;
        inline-size: 50%;
        padding-inline: 2.4rem;
        color: cl(purple-light-xxx);
        text-align: center;
    }

    &__text {
        display: block;
        margin-block-end: 2.2rem;
        font-size: 2rem;
        font-weight: 500;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        list-style: none;
    }

    &__link {
        &:link,
        &:visited {
            font-weight: 600;
            color: inherit;
            text-decoration: none;
            border-block-end: 1px solid currentcolor;
            transition: tr(small);
        }

        &:hover,
        &:active {
            color: cl(purple-light-x);
            border-block-end: 1px solid currentcolor;
        }
    }
}
