.header {
    position: sticky;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    block-size: 6rem;
    background-image: linear-gradient(to right bottom, var(--black-90), var(--black-90)),
        image-set(
            url('../../assets/img/header/pilinger-point.avif') type('image/avif'),
            url('../../assets/img/header/pilinger-point.webp') type('image/webp'),
            url('../../assets/img/header/pilinger-point.jpg')
        );
    background-position: top;
    background-size: cover;
}

.header-description {
    position: absolute;
    inset-block-end: 4.8rem;
    inset-inline-start: 4.8rem;
    inline-size: 40%;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--accent-grey-light);

    @include res-tab-port {
        inset-inline-start: 2.4rem;
        inline-size: 60%;
    }
}

.section-hero {
    position: relative;
    block-size: 80vh;
    background-image: linear-gradient(to right bottom, var(--black-90), var(--black-90)),
        image-set(
            url('../../assets/img/header/pilinger-point.avif') type('image/avif'),
            url('../../assets/img/header/pilinger-point.webp') type('image/webp'),
            url('../../assets/img/header/pilinger-point.jpg')
        );
    background-position: center;
    background-size: cover;

    @include res-tab-port {
        block-size: calc(100vh - 6rem);
    }
}
