.list {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-inline-start: 1.6rem;

    &:not(:last-child) {
        margin-block-end: 2.4rem;
    }

    // .list {
    //     gap: 1.2rem;

    //     &:not(:last-child) {
    //         margin-block-end: 2rem;
    //     }
    // }

    // .text {
    //     &:not(:last-child) {
    //         margin-block-end: 1.2rem;
    //     }
    // }
}
