.list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-inline-start: 3.2rem;
    font-size: 1.6rem;
    line-height: 1.6;

    &:not(:last-child) {
        margin-block-end: 3rem;
    }

    .list {
        gap: 1.2rem;

        &:not(:last-child) {
            margin-block-end: 2rem;
        }
    }

    .text {
        &:not(:last-child) {
            margin-block-end: 1.2rem;
        }
    }
}

ul.list {
    list-style: none;
}

ul.list .list__item {
    position: relative;

    &::before {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -1.5rem;
        display: inline-block;
        content: '-';
    }
}
