table {
    & tr {
        & th,
        & td {
            padding-block: 1.4rem;
            padding-inline: 1rem;
            text-align: start;
            border: 1px solid cl(purple-primary);
        }
    }
}
