body {
    &::-webkit-scrollbar {
        inline-size: 6px;
    }

    &::-webkit-scrollbar-track {
        background: cl(purple-light-x);
    }

    &::-webkit-scrollbar-thumb {
        background: cl(purple-primary);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: cl(purple-dark-xxx);
    }
}

.accent-symbol {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: cl(purple-light-xx);
}

.content-box {
    &:not(:last-child) {
        margin-block-end: 2.2rem;
    }
}
