body {
    &::-webkit-scrollbar {
        inline-size: 3px;
    }

    &::-webkit-scrollbar-track {
        // background: cl(grey-dark);
    }

    &::-webkit-scrollbar-thumb {
        // background: cl(grey-light);
    }

    &::-webkit-scrollbar-thumb:hover {
        // background: cl(accent);
    }
}

.accent-symbol {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: cl(purple-light-xx);
}
