html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: Rubik, sans-serif;
    line-height: 1;
    color: cl(text-dark);
}

.heading-h1 {
    font-weight: 600;
    color: cl(purple-light-xxx);
}

.heading-h2 {
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.heading-h3 {
    font-size: 2.4rem;
    font-weight: 500;
}
