html {
    font-size: 62.5%; // 1rem = 10px

    @include res-tab-land {
        font-size: 56.25%;
    }

    @include res-phone {
        font-size: 50%;
    }
}

body {
    font-family: Rubik, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    color: var(--accent-dark-black);
}

strong {
    font-weight: 500;
    color: var(--accent-dark);
}

.text {
    font-size: 1.6rem;
    line-height: 1.6;

    &:not(:last-child) {
        margin-block-end: 2rem;
    }
}

.text-link {
    &:link,
    &:visited {
        padding-block: 0.2rem;
        padding-inline: 0.4rem;
        color: inherit;
        color: var(--accent-grey-light);
        text-decoration: none;
        background-color: var(--accent-dark);
        border-block-end: 1px solid var(--accent-soft-light);
        transition: var(--tr-small);
    }

    &:hover,
    &:active {
        background-color: var(--accent-soft);
    }
}

.heading-h3,
.heading-h4 {
    font-weight: 500;
    color: var(--accent-darkest);
}

.heading-h2 {
    padding-block: 1.2rem;
    padding-inline: 2.4rem;
    overflow: hidden;
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--accent-grey-light);
    background-color: var(--accent-dark-black);

    @include res-tab-land {
        margin-block-end: 0 !important;
    }
}

.heading-h3 {
    font-size: 2.4rem;
}

.heading-h4 {
    font-size: 1.8rem;
}
