// defaults
$d-white: hsl(0deg 0% 100%);

// greys
$grey-md: hsl(0deg 0% 93%);

// purples
$purple-primary: hsl(277deg 38% 37%);
$purple-light-xxx: hsl(278deg 25% 94%);
$purple-light-xx: hsl(277deg 22% 84%);
$purple-light-x: hsl(277deg 22% 75%);
$purple-dark-xxx: hsl(277deg 38% 9%);
$purple-dark-x: hsl(278deg 38% 20%);
