@use 'sass:list';
@use 'sass:map';
@use 'sass:string';

@mixin add-css-variables($module) {
    :root {
        @each $name, $value in $module {
            --#{$name}: #{$value};
        }
    }
}

@function str-replace($string, $search, $replace: '') {
    $index: list.index($string, $search);

    @if $index {
        @return slice($string, 1, $index - 1) + $replace +
            str-replace(slice($string, $index + list.length($search)), $search, $replace);
    }

    @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
        eot: '?',
        svg: '#' + str-replace($name, ' ', '_'),
    );

    $formats: (
        otf: 'opentype',
        ttf: 'truetype',
    );

    @each $ext in $exts {
        $extmod: if(map.has-key($extmods, $ext), $ext + map.get($extmods, $ext), $ext);
        $format: if(map.has-key($formats, $ext), map.get($formats, $ext), $ext);
        $src: list.append(
            $src,
            url(string.quote($path + '.' + $extmod)) format(string.quote($format)),
            comma
        );
    }

    @font-face {
        font-family: string.quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
        font-display: swap;
    }
}
