// defaults
$white: hsl(0deg 0% 100%);
$black: hsl(0deg 0% 0%);

// greys
$grey-medium-light: hsl(0deg 0% 27%);
$grey-medium: hsl(0deg 0% 20%);
$grey-dark: hsl(0deg 0% 12%);

// accent
$accent: hsl(16deg 99% 49%);
$accent-soft: hsl(13deg 70% 51%);
$accent-soft-light: hsl(13deg 71% 56%);
// $accent-soft-lightest: hsl(13deg 70% 61%);
$accent-dark: hsl(13deg 67% 20%);
$accent-darkest: hsl(12deg 66% 10%);
$accent-dark-black: hsl(12deg 66% 10%);
$accent-grey-light: hsl(14deg 68% 95%);
